/* Base styles */
@import './base/style.css';
@import './base/typography.css';

/* Layout styles */
@import './layout/containers.css';
@import './layout/canvas.css';
@import './layout/layout.css';

/* Component styles */
@import './components/buttons.css';
@import './components/sliders.css';
@import './components/parameters.css';
@import './components/navigation.css';
@import './components/renderContext.css';

/* Utilities */
@import './utilities/media-queries.css';

/* Base styles */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #121212; /* Updated dark background */
  }
  
  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #121212;
  }